* {
    margin: 0;
    padding: 0;
}

body {
  
   margin:0;
	padding:0;
	background-image:url('../images/fond.png');
	background-repeat:no-repeat;
	background-position : bottom center;

	
    font-family: 'Montserrat', sans-serif;
  
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
	color:#f2f2f2;
}

.container {
	
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
	height : 50%;
}

.navigation {
    width: auto;
    background-color: white;
    padding: 25px;
}

.navigation a {
 color:black;
}

.navigation .logo {
	  
  
    float: left;
	font-weight:700!important;
	color: #4CAF50;

	
	
}


.navigation ul {
    float: right;
}

.navigation ul li {
    display: inline;
    margin-left: 20px;
}


/*
 ============
    Hero
 ============
*/

.hero {
   
    width: auto;
    padding-top: 5em;
	

}

.hero h1 {
    color: #FF5A5F !important;
    font-weight: 700 !important;
    font-size: 22px !important;
    line-height: 46px !important;
    letter-spacing: -0.8px !important;
}

.hero p {
    font-weight: 300 !important;
    font-size: 25px !important;
    line-height: 46px !important;
    letter-spacing: -0.8px !important;
    margin-bottom: 20px;
}

.btn {
    padding: 12px;
    text-align: center;
    text-transform: capitalize;
    color: #fff;
    border: 0 none;
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.3;
}

.btn_inscription {
    color: #FFFFFF;
    background: #3dd28d;
}



.footer {
    text-align: center;
    padding: 4em;
    clear: both;
}

.account-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}




.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
    font-family: "Montserrat", sans-serif;
    outline: 0;
    background: #f2f2f2;
	
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form button  {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

#Upbutton {
   
    background: #4CAF50;
 
}

.form button:hover,
.form button:active,
.form button:focus {
    background: #43A047;
}

.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}

.form .message a {
    color: #4CAF50;
    text-decoration: none;
}

.form .account-form {
    display: none;
}
