@import "compass/css3";


body{
	margin:0;
	padding:0;
	background-image:url('../images/fond.png');
	background-repeat:no-repeat;
	background-position : bottom center;

	
    font-family: 'Montserrat', sans-serif;
}
h3
{
	
	color:#4CAF50;
	
}
input[type=checkbox] {
        display: none;
		color:red;
      }
      label {
        cursor: pointer;
      }
      input[type=checkbox] + label:before {
        content: "X";
        display: inline-block;
        width: 16px;
        height: 16px;
        background-color: #FFFFFF;
		color:red;
        border-radius: 3px;
      }
      input[type=checkbox]:checked + label:before {
        content: "\2713";
        color: #4CAF50;
        background-color: #FFFFFF;
        text-align: center;
      }

input, textarea {
 background-color:#FFF3F3;
   font-family: "Montserrat", sans-serif;
 }
input, textarea {
	
 padding:3px;
background-color:white;

  border-right: 1px solid #537EA5;
  border-top: 1px solid #537EA5;
  border-bottom: 1px solid #537EA5;
  border-left: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
   font-family: "Montserrat", sans-serif;
 }

 
 
 fieldset {
 padding:0 20px 20px 20px;
 
margin-left:50px;
margin-right:50px;
margin-top:5px;
 border:1px solid  #4CAF50;
 
 }
legend {
 color: #4CAF50;
 font-weight:bold
 }
input[type=checkbox] {
 background-color:transparent;
 border:none;
 width:10px;
 }
 


 a {
    text-decoration: none;
}

li {
    list-style-type: none;
}
 
 .navigation {
    width: auto;
    background-color: white;
    padding: 25px;
}

.navigation a {
    color: black;
}

.navigation .logo {
    font-weight: 700 !important;
    float: left;
	color:#4CAF50;
}

.navigation ul {
    float: right;
}

.navigation ul li {
    display: inline;
    margin-left: 20px;
}

.champsExam{
  display: flex;
}
.champsExam input[type=text]{
  padding: 5px 15px;
  border-top: 1px solid #bbb;
  border-left: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  border-right: none;
  
}
.champsExam input[type=text]:first-of-type{
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.champsExam input[type=text]:last-of-type{
  border-right: 1px solid #bbb;
}


#bdeconnexion{
-moz-border-radius:10px 10px;
-webkit-border-radius:10px 10px;
border-radius:10px 10px;	

background-color:white;

width:30px;
height:30px;
font-weight:bold;
width:100px;
position:absolute;
right:10px;
top:7px;
}
#bdeconnexion:hover{
background-color:#4CAF50;

}

#bAide{
-moz-border-radius:10px 10px;
-webkit-border-radius:10px 10px;
border-radius:10px 10px;
background-color:white;
border-color:black;
width:30px;
height:30px;
font-weight:bold;
width:100px;
position:fixed;
right:220px;
top:7px;
}
#bAide:hover{
background-color:grey;
}

#bCompte{
-moz-border-radius:10px 10px;
-webkit-border-radius:10px 10px;
border-radius:10px 10px;
background-color:white;
border-color:black;
width:30px;
height:30px;
font-weight:bold;
width:100px;
position:fixed;
right:115px;
top:7px;
}
#bCompte:hover{
background-color:grey;
}

#question {
left : 20%;
background-color:white;
top:140px;
position:absolute;
width:80%;
}

#intitule {
width:60%;
}

#reponse {
width: 45%;
}

#BBas {
font-family: 'Montserrat', sans-serif;
position:fixed;
top:0;
right:0;

height:300px;
width:230px;
padding:20px;
z-index:2;
margin-right: 25px;
margin-top:100px;

background: white;

text-align: center;
box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
#BBas , input{
	
	background-color: #f2f2f2
	
	
	
}


#validerBBas{
  border-right: 1px solid #537EA5;
  border-top: 1px solid #537EA5;
  border-bottom: 1px solid #537EA5;
  border-left: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
background-color:#008CBA;
color: #fff;
width:200px;
height:50px;
font-weight:bold;
display:block;
margin:auto;
font-size: 24px;
}
#validerBBas:hover{
background-color:#f44336;
}

#ajoutBBas{
  border-right: 1px solid #537EA5;
  border-top: 1px solid #537EA5;
  border-bottom: 1px solid #537EA5;
  border-left: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
background-color:#4CAF50;
color: #fff;
margin-top:10px;
width:200px;
height:30px;
font-weight:bold;
}
#ajoutBBas:hover {
background-color:grey;
}

#retirerBBas {
  border-right: 1px solid #537EA5;
  border-top: 1px solid #537EA5;
  border-bottom: 1px solid #537EA5;
  border-left: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
background-color:#4CAF50;
color: #fff;
margin-top:10px;
float:right;
width:200px;
height:30px;
font-weight:bold;
}
#retirerBBas:hover{
background-color:grey;
}

#cacheBBas{
position:fixed;
bottom:41px;
width:25px;
height:18px;
z-index:3;
background-color:white;
border:none;
}


#jourBBas ,#anBBas,#moisBBas
{
	

background-color:white;

  border-right: 1px solid #537EA5;
  border-top: 1px solid #537EA5;
  border-bottom: 1px solid #537EA5;
  border-left: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;

color: #fff;
margin-top:10px;
margin-right : 5px;
height:30px;
width:60px;
	
}
#heureBBas,#minutesBBas{
background-color:white;

 border-right: 1px solid #537EA5;
  border-top: 1px solid #537EA5;
  border-bottom: 1px solid #537EA5;
  border-left: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
margin-top:10px;
height:30px;
width:40px;
}



#exemplaireBBas {
background-color:white;

  border-right: 1px solid #537EA5;
  border-top: 1px solid #537EA5;
  border-bottom: 1px solid #537EA5;
  border-left: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
border-color:black;
margin-top:10px;
height:30px;
width:60px;
}

#nomQuestionnaire {

background-color:#f2f2f2;

border-right: 1px solid #537EA5;
border-top: 1px solid #537EA5;
border-bottom: 1px solid #537EA5;
border-left: none;
border-top-right-radius: 4px;
border-bottom-right-radius: 4px;
margin-right:10px;
position:right;
height:30px;
width:15%;
position:fixed;
top:70px;
right:25%;

}
#suppression {
background-color: #f44336;
}

#bareme{
background-color:#f2f2f2;

border-right: 1px solid #537EA5;
border-top: 1px solid #537EA5;
border-bottom: 1px solid #537EA5;
border-left: none;
border-top-right-radius: 4px;
border-bottom-right-radius: 4px;


height:18px;
width:8%;
position:fixed;

	
}


#penalite{
background-color:#f2f2f2;

border-right: 1px solid #537EA5;
border-top: 1px solid #537EA5;
border-bottom: 1px solid #537EA5;
border-left: none;
border-top-right-radius: 4px;
border-bottom-right-radius: 4px;

position:right;
height:30px;
width:20%;
right:45%;
position:fixed;
top:70px;





}



