button{
	width:150px;
	height:40px;
}

td{
	border:solid black;
	border-width:1px;
	padding:2px;
	text-align:center;
	background-color:white;
}

table{
	border-collapse:collapse;
}

input{
	text-align:center;
}

#boutonAM{
	position:absolute;
	left:15px;	
	top:15px;
}

#listeExistante{
position:absolute;
right:10px;
top:150px;
width:45%;
height:75%;
}

#noirFondModal{
	display:none;
	position:absolute;
	z-index:1;
	left:0px;
	top:0px;
	height:100%;
	width:100%;
	background-color:rgba(200,200,200,0.5);
}

.modal{	
	display:none;
	position:fixed;
	z-index:2;
	left:15%;
	top:7%;
	width:70%;
	height:70%;
	/*overflow:auto;  /*permet le scroll si necessaire */
	background-color: rgb(0,0,0);
	background-color: rgb(0,0,0.4);
}

.modalContent{
	background-color:#fefefe;
	/*margin:15% auto;*/
	position:absolute;	
	height:100%;
	width:100%;		
	border: 1px solid #888;
}

.close{
	color:#aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}
.close:hover,
.close:focus{
	color:black;
	text-decoration:none;
	cursor:pointer;
}