body{
	margin:0;
	padding:0;

	background-size:cover;
	-webkit-background-size:cover;
}

#onglet{
position:fixed;
top: 0;
width: 100%;
height:40px;
left:0;
padding:5px;
background-color:#abc8e2;
z-index:2; /*mettre le div au premier plan*/
}

#bdeconnexion{
-moz-border-radius:10px 10px;
-webkit-border-radius:10px 10px;
border-radius:10px 10px;
background-color:white;
border-color:black;
width:30px;
height:30px;
font-weight:bold;
width:100px;
position:fixed;
right:10px;
top:7px;
}
#bdeconnexion:hover{
background-color:grey;
}

#bAide{
-moz-border-radius:10px 10px;
-webkit-border-radius:10px 10px;
border-radius:10px 10px;
background-color:white;
border-color:black;
width:30px;
height:30px;
font-weight:bold;
width:100px;
position:fixed;
right:220px;
top:7px;
}
#bAide:hover{
background-color:grey;
}

#bCompte{
-moz-border-radius:10px 10px;
-webkit-border-radius:10px 10px;
border-radius:10px 10px;
background-color:white;
border-color:black;
width:30px;
height:30px;
font-weight:bold;
width:100px;
position:fixed;
right:115px;
top:7px;
}
#bCompte:hover{
background-color:grey;
}

#question {
left : 20%;
background-color:white;
top:140px;
position:absolute;
width:80%;
}

#intitule {
width:60%;
}

#reponse {
width: 45%;
}

#BBas {
position:fixed;
bottom:0px;
background-color:#abc8e2;
width:100%;
left:0;
padding:7px;
z-index:2;
}

#validerBBas{
-moz-border-radius:10px 10px;
-webkit-border-radius:10px 10px;
border-radius:10px 10px;
background-color:white;
border-color:black;
width:100px;
height:30px;
font-weight:bold;
}
#validerBBas:hover{
background-color:grey;
}

#ajoutBBas{
-moz-border-radius:10px 10px;
-webkit-border-radius:10px 10px;
border-radius:10px 10px;
background-color:white;
border-color:black;
width:30px;
height:30px;
font-weight:bold;
}
#ajoutBBas:hover {
background-color:grey;
}

#retirerBBas {
-moz-border-radius:10px 10px;
-webkit-border-radius:10px 10px;
border-radius:10px 10px;
background-color:white;
border-color:black;
width:30px;
height:30px;
font-weight:bold;
}
#retirerBBas:hover{
background-color:grey;
}

#cacheBBas{
position:fixed;
bottom:41px;
width:25px;
height:18px;
z-index:3;
background-color:white;
border:none;
}

#dateBBas{
-moz-border-radius:10px 10px;
-webkit-border-radius:10px 10px;
border-radius:10px 10px;
border-color:black;
height:30px;
}

#heureBBas {
-moz-border-radius:10px 10px;
-webkit-border-radius:10px 10px;
border-radius:10px 10px;
border-color:black;
height:30px;
width:65px;
}

#minutesBBas{
-moz-border-radius:10px 10px;
-webkit-border-radius:10px 10px;
border-radius:10px 10px;
border-color:black;
height:30px;
width:65px;
}

#exemplaireBBas {
-moz-border-radius:10px 10px;
-webkit-border-radius:10px 10px;
border-radius:10px 10px;
border-color:black;
height:30px;
width:100px;
}

#nomQuestionnaire {
-moz-border-radius:10px 10px;
-webkit-border-radius:10px 10px;
border-radius:10px 10px;
border-color:black;
height:30px;
width:25;
position:fixed;
top:70px;
right:50%;
padding-right:5px;




}
#penalite{
-moz-border-radius:10px 10px;
-webkit-border-radius:10px 10px;
border-radius:10px 10px;
border-color:black;
height:30px;
width:25px;
position:fixed;
top:70px;
right:50%;
padding-right:5px;




}


