body{
	margin:0;
 padding:0;
 background-image:url('../images/fond.png');
 background-repeat:no-repeat;
 background-position : bottom center;


	 font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}


.container {

    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
}

.navigation {
    width: auto;
    background-color: white;
    padding: 25px;
}

.navigation a {
    color: black;
}

.navigation .logo {
    font-weight: 700 !important;
    float: left;
	color.#4CAEF50
}

.navigation ul {
    float: right;
}

.navigation ul li {
    display: inline;
    margin-left: 20px;
}



.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 250px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
    font-family: "Montserrat", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form button  {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

#Upbutton {

    background: #4CAF50;

}

.form button:hover,
.form button:active,
.form button:focus {
    background: #43A047;
}

.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}

.form .message a {
    color: #4CAF50;
    text-decoration: none;
}

.form .account-form {
    display: none;
}
