body {
margin:0;
padding:0;
background-image: url("../images/fond-test3.jpg");
background-size: cover;
-webkit-background-size : cover;
}

#inscription_form {
position:absolute;
top:35%;
left:45%;
}

#login_form {
right:10px;
top:10px;
position:absolute;
}

#infoAMC{
position:absolute;
top:105%;
left:25%;
}