

body {
    font-family: 'Montserrat', sans-serif;

}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

h2{
	
	color: red;
	
}


.navigation {
    width: auto;
    background-color: white;
    padding: 25px;
}

.navigation a {
    color: black;
}

.navigation .logo {
    font-weight: 700 !important;
    float: left;
}

.navigation ul {
    float: right;
}

.navigation ul li {
    display: inline;
    margin-left: 20px;
}


 input {
    font-family: "Montserrat", sans-serif;
    outline: 0;
    background: #C0C0C0;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.formAdm  {
	position:relative;
    background: #4CAF50;
	
}


.formAdm button:hover,
.formAdm button:active,
.formAdm button:focus {
    background: #43A047;
}


td{
	border:solid black;
	border-width:1px;
	padding:2px;
	text-align:center;
	background-color:white;
}

table{
	border-collapse:collapse;
	width:98%;
}

#conteneurFond {
	background-color:#f2f2f2;
	position:fixed;
	width:80%;
	left:10%;
	height:100%;
	top:0;
}

#ajoutUtilisiteur {
	top:15%;
	position:absolute;
	left:22%;
	height: 70%;
	padding:10px;
	    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	
	
	
 border:1px solid #4CAF50;

}

#modifUtilisateur {
	top:15%;
	position:absolute;
	left:66%;
		height: 70%;
	padding:10px;
	padding:10px;
	    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	
	
	
 border:1px solid #4CAF50;
	
}

#supprUtilisateur {
	top:15%;
	position:absolute; 
	left:44%;
	padding:10px;
	    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
		height: 70%;
	
	
 border:1px solid #4CAF50;

}

#tableUtilisateur{
	top:100%;
	position:relative;
	left:30%;
	width:50%;
	height:30%;

	overflow : auto;
	  font-family: "Montserrat", sans-serif;
    outline: 0;
 border:1px solid #4CAF50;
	background-color: #f2f2f2;
	
}
#bdeconnexion{
-moz-border-radius:10px 10px;
-webkit-border-radius:10px 10px;
border-radius:10px 10px;	

background-color:white !important;

width:30px;
height:30px;
font-weight:bold;
width:100px;
position:absolute;
right:10px;
top:7px;
}
#bdeconnexion:hover{
background-color:#4CAF50;

}

